.menu-list {
  list-style-type: none;
  font-size: 18px;
  color: black;
}

ul li:first-child {
  color: green;
}

ul li:nth-child(even) {
  font-size: 20px;
}

ul li:nth-child(3n + 1) {
  background-color: yellow;
}

.menu-list a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
}

li::before {
  content: "-";
}

a[title]::before {
  content: url(../images/cat.jpg);
  width: 30px;
  height: 50px;
}

a[title]::after {
  content: "Ученье - свет";
  display: inline-block;
}

a[title]:hover:after {
  cursor: pointer;
  content: "Делай мир светлее!";
}
